---
title: Brittany's Scavenger Hunt
---


<script type="text/javascript">
    (function () {
        var path = '//easy.myfonts.net/v2/js?sid=71655(font-family=Sackers+Heavy+Roman)&sid=71661(font-family=Sackers+Light+Roman)&key=KkoKzlY0Ue',
                protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
                trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = protocol + path;
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();

    (function () {
        var path = '//easy.myfonts.net/v2/js?sid=71673(font-family=Sackers+Gothic+Light)&sid=213537(font-family=Sackers+Gothic+Std+Light)&sid=213538(font-family=Sackers+Gothic+Std+Medium)&sid=213539(font-family=Sackers+Gothic+Std+Heavy)&key=zLQgJEISLl',
                protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
                trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = protocol + path;
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();
</script>

<style type="text/css">

    #mfPreviewBar {
        display: none;
    }

    body {
        margin: 0 auto;
        text-align: center;
        font-family: 'Sackers Gothic Std Heavy'
    }

    h1 {
        margin-top: 100px;
        font-family: 'Sackers Gothic Std Light';
        text-align: center;
        width: 100%;
    }

    h2, h3 {
        font-family: 'Sackers Heavy Roman';
    }

    input {
        font-family: 'Sackers Gothic Std Heavy';
        padding: 10px 20px;
        text-align: center;
        text-transform: lowercase;
        margin: 0 auto;
        display: block;
    }

    span.amp {
        font-family: "Didot", "Baskerville", "Book Antiqua", serif;
        font-style: italic;
        font-size: 1.5em;
        padding-right: 7px;
    }

    .card {
        margin: 0 auto;
        width: 50%;
        margin-top: 100px;
        border: 1px solid #999;
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
        display: none;
    }

    p {
        font-family: "Courier", Courier;
    }

    #card_2 img {
        width: 150px;
        margin-top: 20px;
    }

    #card_9 img {
        width: 30px;
    }

    small {
        color: rgba(153, 153, 153, 0.45);
    }

    /*font-family: 'Sackers Gothic Std Medium'*/
    /*font-family: 'Sackers Heavy Roman';*/
    /*font-family: 'Sackers Gothic Light'*/
    /*font-family: 'Sackers Gothic Std Heavy'*/
</style>

<div id="head_honcho" style="display: none">
  <div>
    <h1>Brittany <span class="amp">&amp;</span>James</h1>
  </div>

  <input type="text" placeholder="Enter code here" style="opacity: 0;">

  <div class="card" id="card_1">
    <h3>Hello there, Bortt.</h3>
    <p>Ready to play a game?</p>
  </div>
  <div class="card" id="card_2">
    <img src="img/clothespin.jpg" alt="The Token!"/>
    <p>Keep an eye out for these guys.</p>
  </div>

  <div class="card" id="card_3">
    <h4>May 18th, 2012</h4>
    <h3>1015 Folsom</h3>
    <p>The <em>beginning</em> of it all.</p>
  </div>

  <div class="card" id="card_4">
    <h4>June 1st, 2012</h4>
    <h3>The Bangcation</h3>
    <p>Like, five or six times a day.</p>
  </div>

  <div class="card" id="card_5">
    <h4>June 30th, 2012</h4>
    <h3>The Date-iversary</h3>
    <p>"We're, like, boyfriend and<br/> girlfriend now... right?"</p>
  </div>

  <div class="card" id="card_6">
    <h4>August 27th, 2012</h4>
    <h3>The L Bomb</h3>
    <p>The happiest day of my life.</br><small>(seriously)</small></p>
  </div>

  <div class="card" id="card_7">
    <h4>October 15th, 2012</h4>
    <h3>nopa</h3>
    <p>I pinned some clothespins on your clothing.<br/><small>We've gone to NOPA 36 times and counting, in case you were wondering.</small></p>
  </div>

  <div class="card" id="card_8">
    <h4>January 1st, 2014</h4>
    <h3>The move</h3>
    <p>We become inseparable.<br/><small>this time, we no longer have a choice.</small></p>
  </div>

  <div class="card" id="card_9">
    <h4>January 31st, 2014</h4>
    <h3>The Ring</h3>
    <img src="http://www.deke.com/files/images/DT-189-infinity-symbol-graphics-for-web/DT-09-final-infinity.png">
    <p><small>(for now)</small></p>
  </div>
</div>